<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Uploaded</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <br><br>
  <div class="container"style= "width:50%;height:50%">

    <div class="panel panel-success">
      <div class="panel-heading">
         <center><h4>Uploaded Image<br</h4></center>
      <a href="http://127.0.0.1:5000/gallery" > <button style="margin-left: 500px;" >Viewall</button></a>
        
        </div>
      <div class="panel-body">

<img src=" {{url_for('send_image', filename=image_name)}}" style= "width:100%;height:50%">

</div>
</div>
</div>
</body>
</html>
